{{ define "content" }}

<form class="form-signin center" role="form" action="/workitems/create" method="post">
  <h3 class="form-signin-heading">
    <i class="fa fa-comments-o">
      <span id="title">添加作业内容</span>
    </i>
  </h3>
  <input type="hidden" name="orderid" value="{{ .Order.Id }}">
  <input type="hidden" name="workitemid" value="{{.WorkItem.Id}}">
  <span class="form-control" data-toggle="tooltip" data-placement="bottom" 
  title="{{ .Department }} {{ .Order.DateBegin }} - {{ .Order.DateEnd }} {{ .Cartype }}">
  任务单号 {{.OrderNum}}
  </span>  
  <span class="form-control">作业时段及内容</span>
  <textarea class="form-control" rows="2" name="work">{{.WorkItem.Work}}</textarea>
  <div class='input-group'>
    <span class="input-group-addon" id="basic-addon2">作业地点</span>
    <input type='text' name="place" class="form-control" value="{{.WorkItem.Place}}" />
  </div>
  <div class="input-group">  
    <span class="input-group-addon" id="basic-addon2">计量单位</span>
    <select name="unit" class="form-control">
      <option value="0">台班</option>
      <option value="1">吨位</option>
    </select>
  </div>
  <div class='input-group'>
    <span class="input-group-addon" id="basic-addon2">作业量</span>
    <input type='text' name="quantity" class="form-control"  value="{{.WorkItem.Quantity}}" />
  </div>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
  <br/>
</form>
<script type="text/javascript">
workitem={{.WorkItem}};  
$(function(){
  if(workitem.Id){
    $("span#title").text("修改作业内容");
    $("select").val(workitem.Unit);
    $("form").prop("action","/workitems/update");
  }
  
});
</script>

{{ end }}
