{{ define "content" }}

<form class="form-signin center" role="form" action="/password/update" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o">
      更改密码
    </i>
  </h2>
  <input type="password" name="oldpassword" class="form-control" placeholder="原密码" required>
  <input type="password" name="newpassword" class="form-control" placeholder="新密码" required>
  <input type="password" name="replypassword" class="form-control" placeholder="重复密码" required>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
  <br/>
</form>

{{ end }}
