{{ define "layout" }}

<table data-toggle="table">
    <thead>
    <tr>
        <th>作业时段及内容</th>
        <th>作业地点</th>
        <th>作业量</th>
        <th>
        <a id="insert" class="btn btn-primary btn-sm" href="/workitems/new?pid=">
          <i class="fa fa-plus" title="Align Left"></i>
          添加
        </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table">
        <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
            <a href="https://github.com/wenzhixin/bootstrap-table">bootstrap-table</a>
        </td>
        <td data-value="526">526</td>
        <td data-text="122">122</td>
        <td data-text="122">
            <a href="/orders/edit?id="><i class="fa fa-edit" title="修改"></i></a>
            <a href="/orders/delete?id="><i class="fa fa-trash" title="删除"></i></a>
        </td>
    </tr>
    </tbody>
</table>
{{end}}